<!-- blog -->
<li>
  <div class="col-md-12">
    <div class="blog">
      <div class="blog-img">
        <img
          class="img-responsive"
          src="./img/news/brocard_valentine.jpg"
          alt=""
        />
      </div>
      <div class="blog-content">
        <h3>
          -30% до Дня закоханих
        </h3>
        <div>
          <p>
            Красномовніша за слова, романтичніша за Париж, сильніша за
            гравітацію Сонця – а яка твоя історія кохання? Додай ще більше
            почуттів у свою love story з BROCARD. Обирай подарунки до Дня
            закоханих зі знижкою 30%.
          </p>
          <p>
            Акція «Знижка 30% до Дня закоханих» діє 10-14.02.2020 в мережі
            магазинів BROCARD на весь асортимент, окрім подарункових карток,
            продукції M.A.C, Kiehl's, Erborian, Origins, MIN New York та товарів
            за спеціальними цінами.
          </p>
          <p>
            Інші знижки не додаються. При покупці з використанням подарункових
            карток знижка 30% діє лише при оплаті різниці між ціною реалізації
            товару без знижки та сумою номіналів подарункових карток. В акції
            беруть участь понад 10 000 найменувань товарів.
          </p>
          <p>
            Додаткова інформація – у консультантів магазину.
          </p>
        </div>
      </div>
    </div>
  </div>
</li>
<!-- /blog -->
