<!-- blog -->
<li>
  <div class="col-md-12">
    <div class="blog">
      <div class="blog-img">
        <img class="img-responsive" src="./img/news/brocard_winter.jpg" alt="" />
      </div>
      <div class="blog-content">
        <h3>Зігрійся знижками до 50%</h3>
        <div>
          <p>
            Як правильно почати новий рік? Можна скласти список бажань і грітися
            думками про мрії. Можна відправитися за океан назустріч літньому
            теплу. А можна зігрітися знижками до 50% в магазинах BROCARD.
          </p>
          <p>
            З <strong>8 до 31 січня 2020</strong> купуйте парфумерію,
            декоративну косметику, засоби по догляду та аксесуари зі знижкою до
            50%!
          </p>
          <p>
            Акція «Зігрійся знижками до 50%» діє в магазинах парфумерії та
            косметики BROCARD у період <strong>08-31.01.2020.</strong> За
            умовами акції, на певний перелік товарів надається знижка
            <strong>30%, 40% або 50%</strong>, яка вказана на ціннику. Під час
            акції не діють інші акції і знижки, в тому числі за дисконтними
            картками. При покупці з використанням подарункових карток знижка
            <strong>30%, 40% або 50%</strong> діє лише при оплаті різниці між
            ціною реалізації товару без знижки і сумою номіналів подарункових
            карток. В акції беруть участь більше двох тисяч найменувань товарів.
          </p>
        </div>
      </div>
    </div>
  </div>
</li>
<!-- /blog -->
