<!-- blog -->
<li>
  <div class="col-md-12">
    <div class="blog">
      <div class="blog-img">
        <img
          class="img-responsive"
          src="./img/news/roy_tsum.png"
          alt=""
        />
      </div>
      <div class="blog-content">
        <h3>Новорічна знижка 40%</h3>
        <div>
          <p>Новий Рік все ближче!</p>
          <p>ЗНИЖКИ все приємніші!</p>
          <p>Знижуємо ціни на NEW Collection до -30%!!!</p>
          <p>Більше купуєш – Більше отримуєш!</p>
          <p>Приваблива пропозиція діє до 02.01.2020</p>
        </div>
      </div>
    </div>
  </div>
</li>
<!-- /blog -->
