<!-- blog -->
<li>
  <div class="col-md-12">
    <div class="blog">
      <div class="blog-img">
        <img
          class="img-responsive"
          src="./img/news/brocard-new-year-news.jpg"
          alt=""
        />
      </div>
      <div class="blog-content">
        <h3>Новорічна знижка 40%</h3>
        <div>
          <p>
            В магазинах BROCARD - знижки!<br />
            Починаємо підготовку до свят. Діставайте свій б'юті-вішлист та
            пишіть список подарунків для близьких! Знижка 40% діє
            <strong>з 12 по 25 грудня 2019.</strong>
          </p>
          <p>
            Акція на весь асортимент, окрім
            подарункових карток, продукції M.A.C, Kiehl's і товарів з позначкою
            «-30%». Під час акції не діють інші акції та знижки, в тому числі за
            дисконтними картками. При покупці з використанням подарункових
            карток знижка 40% діє тільки при оплаті різниці між ціною реалізації
            товару без знижки і сумою номіналів подарункових карток. В акції
            беруть участь понад десять тисяч найменувань товарів.
          </p>

          <p>
            Деталі акції - у консультантів і на
            <a href="www.brocard.ua">www.brocard.ua</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</li>
<!-- /blog -->
