<!-- blog -->
<li>
  <div class="col-md-12">
    <div class="blog">
      <div class="blog-img">
        <img class="img-responsive" src="./img/news/roy_tsum.png" alt="" />
      </div>
      <div class="blog-content">
        <h3>Зігрійся знижками до 50%</h3>
        <div>
          <p>
            Як правильно почати новий рік? Можна скласти список бажань і грітися
            думками про мрії. Можна відправитися за океан назустріч літньому
            теплу. А можна зігрітися знижками до 50% в магазинах BROCARD.
          </p>
          <p>
            З 8 до 31 січня 2020 купуйте парфумерію, декоративну косметику,
            засоби по догляду та аксесуари зі знижкою до 50%!
          </p>
          <p>Знижуємо ціни на NEW Collection до -30%!!!</p>
          <p>Більше купуєш – Більше отримуєш!</p>
          <p>Приваблива пропозиція діє до 02.01.2020</p>
        </div>
      </div>
    </div>
  </div>
</li>
<!-- /blog -->
